

.page { border: 2px dashed red; }

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}

@font-face {
  font-family: "Tabular";
  src: url("./fonts/game_over.ttf") format("truetype");
  font-weight: 100 900; /* variable font range */
  font-style: normal;
}



/* Page centering */
body {
  margin: 10;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #C2DAC4;
  font-family: "Tabular", system-ui, sans-serif;
  line-height: 1.8;
}

/* Centered content box */
.page {
  width: 90%;
  max-width: 800px;
  padding: 2rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

/* Text */
h1 {
  color: #405244;
  text-align: center;
}

p {
  color: #238b45 ;
  overflow-wrap: break-word;
  letter-spacing: 2px;
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2{
font-weight: 600;
color: #F57F8F;
font-size: 40px;
margin-bottom: 5px;
}

.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #F57F8F;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: black;
  border-radius: 50px;
}

.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus{
  border: 2px solid#238b45;
}

.contact-inputs::placeholder{
  color: lightpink;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: beige;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #edabb4,#F57F8F);
  cursor: pointer;
}

.contact-left button img{
  height: 30px;
}

h2{
  color: white;
}
